body{
  font-family: "PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
}
body, html, #app {
  width: 100%;
  height: 100%;
  background: #F7F9FB;
}

body, p, h1,h5,ul ,li{
  margin: 0;
  padding: 0
}
ul{  list-style:none;  }

a{
  text-decoration:none !important;
  cursor: pointer;
}

.clearfix:after {
  content: " ";
  display: block;;
  line-height: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px #eee;
  background-color: #eee;
}
::-webkit-scrollbar
{
  width: 2px;
  background-color: #eee;
}
::-webkit-scrollbar:horizontal{
  height: 6px;
}
::-webkit-scrollbar-thumb
{
  background-color: rgba(213,213,213,0.73);
  border-radius: 5px;
}
